/* Google Fonts  */
  @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');

  /* Asterik selector to override default styles added by browser */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General body style  */

body {
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  
  color: #181716;
  
}

/* Header style  */

header {
    background-color: #D9B799;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #9C1E6C;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

}

header a {
    text-decoration: none;
    color: #181716;
}

h1 {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #181716;
}

/* Navigation style ul class Nav-list */

.nav-list {
    font-size: 110%;
    letter-spacing: 3px;
    list-style: none;
    gap: 0.5rem;
}

.nav-list > li {
    margin-bottom: 1em;
}

.pointer {
    border-bottom: 1px solid #181716;
}

/* Navbar styles dropdown toggle */
nav {
    position: absolute;
    background-color: #D9B799;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #9C1E6C;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}
#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main Content style  */

main {
  flex: 1 0 auto;
  margin-top: 35px;
}

/*cover image first section style*/
#cover-image {
    background: url('/assets/image/chef-touch-food-dark.jpg') no-repeat center center /cover;
    height: 500px;
}  

.cover-text {
    display: inline-block;
    background-color: rgba(126,115,131, 0.7);
    color: beige;
    font-family: 'lato', sans-serif;
    font-size: 110%;
    margin-left: 5%;
    margin-top: 90%;
    padding: 5px 10px 5px 10px;
    text-align: center;
    border-radius: 30px;

}




/* Footer style  */
footer {
    background-color: #D9B799;
    position: sticky;
}
#social-media {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

footer > span {
    font-size: 90%;
    font-weight: 500;
    letter-spacing: 1px;
    color: #181716;
    padding: 0 0.5rem;
    text-transform: uppercase;
}

footer > p {
    font-size: 80%;
    font-weight: 400;
    letter-spacing: 2px;
    color: #181716;
    text-align: center;
    padding: 0.5rem 0;
}

#social-media i {
    font-size: 180%;
    padding: 5%;
    color: #181716;
}


/* Media Queries for tablets and larger screens */
@media screen and (min-width: 768px) {
    /* Header Navbar in display  */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
        
    }

    .nav-list {
        display: flex;
        padding-left: 1.5rem;
        gap: 10px;
    }
    .nav-toggle-label {
        display: none;
    }
    #logo-text {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }
    /* Main Content push down for larger header */
    main {
        margin-top: 75px;
    }

}
/* Media Queries for larger screens */
@media screen and (min-width: 992px) {
    .nav-list a:hover{
       border-bottom: 1px solid #181716;
    }
}